* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}

nav {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}
nav .logo {
  width: 30%;
  float: left;
}
@media (min-width: 768px) {
  nav .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (min-width: 992px) {
  nav .logo {
    width: 30%;
    float: left;
    text-align: left;
  }
}
@media (max-width: 767px) {
  nav .logo {
    width: 100%;
    float: none;
  }
}
nav .logo h1 {
  margin-top: 10px;
  margin-bottom: 0;
}
nav .navbar {
  overflow: hidden;
  background-color: #e2494c;
}
@media (min-width: 768px) {
  nav .navbar {
    border-radius: 15px;
    width: 100%;
    float: none;
    margin-top: 30px;
    display: block !important;
  }
}
@media (min-width: 992px) {
  nav .navbar {
    width: 70%;
    float: left;
    margin-top: 1em;
  }
}
@media (max-width: 767px) {
  nav .navbar {
    display: none;
  }
}
nav .navbar li {
  float: left;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  nav .navbar li {
    width: 20%;
  }
}
@media (max-width: 767px) {
  nav .navbar li {
    display: block;
    float: none;
    text-align: left;
    padding-left: 10px;
  }
}
nav .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #ffffff;
  text-decoration: none;
}
nav .navbar li a:hover {
  color: #ddd;
}

.slider blockquote {
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  font-style: italic;
  color: #5e5e5e;
  font-weight: bold;
  font-family: tahoma, arial;
  width: 80%;
  margin: 30px auto;
}
.slider img {
  min-width: 100%;
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 3px solid #9c9c9c;
  transition: all 1s ease;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border: 3px solid #333;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  background-color: #e2494c;
  color: #ffffff;
  text-align: center;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .head-with-border h2 {
    max-width: 300px;
  }
}
.head-with-border h2::before {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

@media (min-width: 768px) {
  .services .service-box {
    float: left;
    width: 33.3333333333%;
  }
  .services .service-box:not(:last-of-type) {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .services .service-box i {
    display: block;
    margin-bottom: 15px;
  }
}
.services .service-box h3 {
  color: #666;
}
.services .service-box h3 i {
  font-size: 35px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
.services .service-box p {
  color: #777;
  line-height: 1.5;
}
.services .service-box a {
  color: #e2494c;
  text-decoration: none;
}

@media (max-width: 767px) {
  .our-players .player-box {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .our-players .player-box {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .our-players .player-box {
    width: 33.3333333333%;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .our-players .player-box {
    width: 20%;
  }
}
.our-players .player-box img {
  max-width: 100%;
}
.our-players .player-box h3 {
  color: #666;
  font-weight: normal;
}
.our-players .player-box h3 span {
  font-weight: bold;
}
.our-players .player-box p {
  color: #777;
  line-height: 1.5;
}
.our-players .player-box a {
  color: #e2494c;
  text-decoration: none;
}

.gallery .gallery-box {
  float: left;
  width: 31.3333333333%;
}
.gallery .gallery-box:not(:last-of-type) {
  margin-right: 3%;
}
.gallery .gallery-box img {
  max-width: 100%;
}

footer {
  background: #e2e2e2;
  padding-top: 30px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  footer .images {
    width: 100%;
    float: left;
  }
}
@media (min-width: 992px) {
  footer .images {
    width: 50%;
  }
}
footer .images .images-box {
  overflow: hidden;
  margin-bottom: 20px;
}
footer .images .images-box img {
  width: 150px;
  height: 150px;
}
@media (min-width: 768px) {
  footer .images .images-box img {
    float: left;
  }
}
@media (min-width: 768px) {
  footer .images .images-box .text {
    float: left;
    width: calc( 100% - 180px );
    margin-right: 15px;
    margin-left: 15px;
  }
}
footer .images .images-box .text h4 {
  color: #e2494c;
  margin: 20px 0 0;
}
footer .images .images-box .text p {
  color: #888;
  line-height: 1.9;
  margin-top: 8px;
}
@media (min-width: 768px) {
  footer .info {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  footer .info {
    width: 25%;
  }
}
footer .info ul {
  color: #888;
  line-height: 1.8;
}
footer .info ul li span {
  color: #e2494c;
}
footer .info h4 {
  color: #888;
  font-weight: bold;
  margin-bottom: 0px;
}
footer .info p {
  color: #888;
  margin-top: 8px;
}
@media (min-width: 768px) {
  footer .contact {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  footer .contact {
    width: 25%;
  }
}
footer .contact input[type=text],
footer .contact input[type=email],
footer .contact textarea {
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
}
footer .contact textarea {
  height: 140px;
}
footer .section-title {
  color: #444444;
  font-weight: normal;
}
footer .copy-right {
  padding: 25px 0;
  border-top: 1px solid #c5c5c5;
  overflow: hidden;
  color: #888;
  margin-top: 30px;
}
@media (max-width: 767px) {
  footer .copy-right .copy-text,
footer .copy-right .copy-author {
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer .copy-right .copy-text,
footer .copy-right .copy-author {
    float: left;
    width: 50%;
  }
}
@media (max-width: 767px) {
  footer .copy-right .copy-author {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  footer .copy-right .copy-author {
    text-align: right;
  }
}

.main-button {
  background: rgba(226, 73, 76, 0.8);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.main-button:hover {
  background: #e2494c;
}

.toggler {
  background: #e2494c;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 15px;
  display: none;
  outline: none;
}
@media (max-width: 767px) {
  .toggler {
    display: block;
  }
}
.toggler span {
  display: block;
  width: 50px;
  height: 4px;
  background: #ffffff;
}
.toggler span:not(:last-child) {
  margin-bottom: 5px;
}

/*# sourceMappingURL=website.css.map */
